<%= erbInclude 'header.erb' %>

<body id="contact">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="contact">
	<p><%= l(:contactContent) %></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
