    <div id="footer">
      <p>60 route nationale, 54940 Belleville, France</p>
      <p>tel: (+33)3 83 24 01 35, <a href="mailto:aux3marcassins@gmail.com">aux3marcassins@gmail.com</a></p>
    </div>
  </body>
</html>
