<%= erbInclude 'header.erb' %>

<body id="hotel">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="hotel">
	<p><%= l(:hotelContent) %></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
