<%= erbInclude 'header.erb' %>

<body id="hotel">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="hotel">
	<p>text des chambres</p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
