<%= erbInclude 'header.erb' %>

<body id="index">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="index">
      	<img src="../images/facade.png"/>
	<p><%= l(:indexContent) %></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
