    <div id="header">
      <h1>L'auberge aux trois marcassins</h1>
      <ul id="navigation">
	<!-- on va partir la dessus pour l'instant ... on changera peut être aprés -->
	<li><a href="./index.html" id="indexTab">Accueil</a></li>
	<li><a href="./resto.html" id="restoTab">La table</a></li>
	<li><a href="./hotel.html" id="hotelTab">Les chambres</a></li>
	<li><a href="./contact.html" id="contactTab">Nous contacter</a></li>
      </ul>
    </div>
