<%= erbInclude 'header.erb' %>

<body id="resto">
  
  <%= erbInclude 'navigation.erb' %>

    <div id="content">
      <div id="resto">
	<p><%= l(:restoContent) %></p>
      </div>
    </div>

<%= erbInclude 'footer.erb' %>
