* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.tabContent {
    display: none;
}

#presentation {
    display: block;
}