* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Palatino, Times, sans-serif;
    color: #000000;
    background-color: #338833;
    font-size: 62.5%;
}

#wrapper {
    background-color: #ffffff;
    width: 710px;
    height: 1000px;
    margin: 0 auto;
    padding: 5px;
}

a img {
    border: 0;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

li {
    font-size: 1.5em;
}

#title {
    margin: 10px auto 40px auto;
    overflow: hidden;
    width: 442px;
    height: 72px;
}

#title span {
    position: absolute;
    background: url(images/title.jpg) no-repeat;
    width: 442px;
    height: 72px;
}


/* sections tabs */
#sections {
    padding: 1px;
    border: 1px solid transparent;
    border-bottom-color: #898989;
}
#sections li {
    display: inline;
}
#sections a:link, #sections a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #338833;
    background: #dddddd;
    border: 1px solid #898989;
    padding: 1px 10px;
    position: relative;
    margin-right: 5px;
}
#sections a:hover {
    text-decoration: underline;
    color: #888833;
}
#index #sections a#indexTab, #resto #sections a#restoTab, #hotel #sections a#hotelTab, #contact #sections a#contactTab {
    background: #ffffff;
    border-bottom-color: #ffffff;
}

/* languages flags */
#languages {
    text-align: right;
}
#languages li {
    display: inline;
}
#languages a:link, #languages a:visited {
    margin-left: 5px;
    position: relative;
}
#languages img {
    border: 1px solid #898989;
}

#content {
    margin: 10px 0 0 0;
}

#content img {
    padding: 5px 15px 15px 15px;
}

#index #content img {
    float: right;
}
#resto #content img {
    float: left;
}
#hotel #content img {
    float: right;
}