* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Palatino, Times, sans-serif;
    color: #000000;
    background: #338833 url(images/background.png) 50% 0 repeat-y;
    font-size: 62.5%;
}

#wrapper {
    background-color: #ffffff;
    width: 710px;
    margin: 0 auto;
    padding: 5px;
}

a img {
    border: 0;
}

h1 {
    font-size: 3.0em;
    color: #338833;
}

h2 {
    font-size: 2.0em;
    color: #338833;
}

h3 {
    font-size: 1.5em;
    color: #338833;
    margin: 2em auto 0.5em;
}

p {
    font-size: 1.5em;
}

li {
    font-size: 1.5em;
    list-style-position: inside;
    list-style-image: url(images/bullet.png);
}

#header {
    overflow: hidden;
}
#header #logis {
    float: left;
}
#header #languages {
    float: right;
}

#title {
    margin: 60px auto 40px auto;
    width: 442px;
    height: 72px;
}

#title span {
    position: absolute;
    background: url(images/title.jpg) no-repeat;
    width: 442px;
    height: 72px;
}


/* sections tabs */
#sections {
    padding: 1px;
    border: 1px solid transparent;
    border-bottom-color: #898989;
}
#sections li {
    display: inline;
}
#sections a:link, #sections a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #338833;
    background: #dddddd;
    border: 1px solid #898989;
    padding: 1px 10px;
    position: relative;
    margin-right: 5px;
}
#sections a:hover {
    text-decoration: underline;
    color: #888833;
}
#index #sections a#indexTab, #resto #sections a#restoTab, #hotel #sections a#hotelTab, #info #sections a#infoTab {
    background: #ffffff;
    border-bottom-color: #ffffff;
}

/* languages flags */
#languages {
    text-align: right;
}
#languages li {
    display: inline;
}
#languages a:link, #languages a:visited {
    margin-left: 5px;
    position: relative;
}

/* general content styling */
#content {
    margin: 2em 0 0 0;
}
#content img {
    padding: 0 15px;
}

/* index */
#index #content img {
    float: right;
}

/* restaurant */
#resto #content img {
    float: left;
}
#resto #content #summary {
    overflow: hidden;
    margin-bottom: -14em;
}
#resto #content .menu {
    text-align: center;
}
#resto #content em.menuNotice {
    font-size: 1em;
    font-style: italic;
}
#resto #content .separator {
    font-size: 3em;
    color: #888833;
    margin: auto -1em;
}
#resto #content .menuNotice {
    font-size: 1em;
    font-style: italic;
    margin: 0 auto 0.5em;
}

/* hotel */
#hotel #content img {
    float: right;
}