* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Palatino, Times, sans-serif;
    color: #000000;
    background-color: #1e521e;
    background-image: url(../images/oak.jpg);
    font-size: 62.5%;
}

#hShadowWrapper, #bShadowWrapper {
    width: 750px;
    margin: 0 auto;
}

#hShadowWrapper {
    background: transparent url(../images/hShadow.png) 50% 0 repeat-y;
}

#bShadowWrapper {
    background: transparent url(../images/bShadow.png) 50% 0 no-repeat;
    height: 100px;
}

#wrapper {
    width: 720px;
    margin: 0 auto;
}

#topPaper {
    height: 49px;
    background: transparent url(../images/bg_paper_top.jpg) 50% 0 no-repeat;
}

#midPaper {
    width: 710px;
    padding: 5px 5px 5em 5px;
    background: transparent url(../images/bg_paper_mid.jpg) 50% 0 repeat-y;
}
#midPaper #header, #midPaper #content {
    top: -49px; /* mid paper content is moved up to fill the top paper banner*/
    overflow: hidden;
    position: relative;
}

#botPaper {
    height: 81px;
    background: transparent url(../images/bg_paper_bot.jpg) 50% 0 no-repeat;
}

a img {
    border: 0;
}

h1 {
    font-size: 3.0em;
    color: #1e521e;
}

h2 {
    font-size: 2.0em;
    color: #1e521e;
}

h3 {
    font-size: 1.5em;
    color: #1e521e;
    margin: 2em auto 0.5em;
}

p {
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

li {
    font-size: 1.5em;
    list-style-position: inside;
    list-style-image: url(../images/bullet.png);
}

#logis {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#languages {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

#title {
    margin: 0 auto;
    width: 650px;
    height: 250px;
}
#title h1 {
    color: transparent;
}
#title span {
    position: absolute;
    background: url(../images/title.png) no-repeat;
    width: 650px;
    height: 250px;
}


/* sections tabs */
#sections {
    padding: 1px;
    border: 1px solid transparent;
    border-bottom-color: #898989;
}
#sections li {
    display: inline;
}
#sections a:link, #sections a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #1e521e;
    background: #cbbd96;
    border: 1px solid #898989;
    padding: 1px 10px;
    position: relative;
    margin-right: 5px;
}
#sections a:hover {
    text-decoration: underline;
    color: #4d002e;
}
#index #sections a#indexTab, #resto #sections a#restoTab, #hotel #sections a#hotelTab, #info #sections a#infoTab {
    background: #f7edd1;
    border-bottom-color: #f7edd1;
}
/* le coup des span ne fonctionne pas avec les listes inlines ... il faudra peut être essayer avec des floats.
   
*/

/* languages flags */
#languages {
    text-align: right;
}
#languages li {
    display: inline;
}
#languages a:link, #languages a:visited {
    margin-left: 5px;
    position: relative;
}

/* general content styling */
#content {
    margin-top: 2em;
}
.illustration {
    margin: 0 15px;
    padding: 3px;
    border: 1px solid #1e521e;
}
.illustration p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.illustration em {
    font-size: 0.6em;
}

/* index */
#index #content img {
    border-top: 1px solid #1e521e;
    border-bottom: 1px solid #1e521e;
}
#index #content p {
    font-style: italic;
    text-align: center;
}

/* restaurant */
#resto #content .illustration {
    float: left;
}
#resto #content #summary {
    overflow: hidden;
}
#resto #content .menu {
    text-align: center;
}
#resto #content em.menuNotice {
    font-size: 1em;
    font-style: italic;
}
#resto #content .separator {
    font-size: 3em;
    color: #4d002e;
    margin: auto -1em;
}
#resto #content .menuNotice {
    font-size: 1em;
    font-style: italic;
    margin: 0 auto 0.5em;
}

/* hotel */
#hotel #content .illustration {
    float: right;
}

/* info */
#info #content .illustration {
    float: right;
}

