/*
 Main colors:
 light green: #76bb1d
 chocolate: #5b2e17
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Palatino, Times, sans-serif;
    color: #000000;
    background-color: #76bb1d;
    background-attachment: fixed;
    background-image: url(../images/oak.jpg);
    font-size: 62.5%;
}

#hShadowWrapper, #bShadowWrapper {
    width: 750px;
    margin: 0 auto;
}

#hShadowWrapper {
    background: transparent url(../images/hShadow.png) 50% 0 repeat-y;
}

#bShadowWrapper {
    background: transparent url(../images/bShadow.png) 50% 0 no-repeat;
    height: 100px;
}

#wrapper {
    width: 720px;
    margin: 0 auto;
}

#topPaper {
    height: 49px;
    background: transparent url(../images/bg_paper_top.jpg) 50% 0 no-repeat;
}

#midPaper {
    width: 710px;
    padding: 5px 5px 5em 5px;
    background: transparent url(../images/bg_paper_mid.jpg) 50% 0 repeat-y;
}
#midPaper #header, #midPaper #content {
    top: -49px; /* mid paper content is moved up to fill the top paper banner*/
    overflow: hidden;
    position: relative;
}

#botPaper {
    height: 81px;
    background: transparent url(../images/bg_paper_bot.jpg) 50% 0 no-repeat;
}

a img {
    border: 0;
}

h1 {
    font-size: 3.0em;
    color: #76bb1d;
}

h2 {
    font-size: 2.0em;
    color: #76bb1d;
}

h3 {
    font-size: 1.5em;
    color: #5b2e17;
    margin: 2em auto 0.5em;
}

p {
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

li {
    font-size: 1.5em;
}

#logis {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#languages {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

#title {
    margin: 0 auto;
    width: 650px;
    height: 250px;
}
#title h1 {
    color: transparent;
}
#title span {
    position: absolute;
    background: url(../images/title.png) no-repeat;
    width: 650px;
    height: 250px;
}


/* sections tabs */
#sections li {
    padding: 0 1px;
    list-style-type: none;
    float: left;
    width: 175px;
    height: 58px;
    margin-bottom: 45px;
    border-bottom: 1px solid #5b2e17;
}
#sections #liAccueil {
    background: url(../images/leaf-small-Accueil.png) no-repeat 0 0;
}
#sections #liWelcome {
    background: url(../images/leaf-small-Welcome.png) no-repeat 0 0;
}
#sections #liRestaurant {
    background: url(../images/leaf-small-Restaurant.png) no-repeat 0 0;
}
#sections #liHotel {
    background: url(../images/leaf-small-Hotel.png) no-repeat 0 0;
}
#sections #liInformations {
    background: url(../images/leaf-small-Informations.png) no-repeat 0 0;
}
#sections a:link, #sections a:visited {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: transparent;
    display: block;
    height: 58px;
}
#index #sections a#tabAccueil {
    height: 103px;
    background: url(../images/leaf-big-Accueil.png) no-repeat 0 0;
}
#index #sections a#tabWelcome  {
    height: 103px;
    background: url(../images/leaf-big-Welcome.png) no-repeat 0 0;
}
#resto #sections a#tabRestaurant {
    height: 103px;
    background: url(../images/leaf-big-Restaurant.png) no-repeat 0 0;
}
#hotel #sections a#tabHotel {
    height: 103px;
    background: url(../images/leaf-big-Hotel.png) no-repeat 0 0;
}
#info #sections a#tabInformations {
    height: 103px;
    background: url(../images/leaf-big-Informations.png) no-repeat 0 0;
}

#sections a#tabAccueil:hover, #sections a#tabAccueil:active{
    background: url(../images/leaf-big-Accueil.png) no-repeat 0 0;
}
#sections a#tabWelcome:hover, #sections a#tabWelcome:active{
    background: url(../images/leaf-big-Welcome.png) no-repeat 0 0;
}
#sections a#tabRestaurant:hover, #sections a#tabRestaurant:active{
    background: url(../images/leaf-big-Restaurant.png) no-repeat 0 0;
}
#sections a#tabHotel:hover, #sections a#tabHotel:active{
    background: url(../images/leaf-big-Hotel.png) no-repeat 0 0;
}
#sections a#tabInformations:hover, #sections a#tabInformations:active{
    background: url(../images/leaf-big-Informations.png) no-repeat 0 0;
}

/* languages flags */
#languages {
    text-align: right;
}
#languages li {
    display: inline;
}
#languages a:link, #languages a:visited {
    margin-left: 5px;
    position: relative;
}

/* general content styling */
.illustration {
    margin: 0 15px;
    padding: 3px;
    border: 1px solid #5b2e17;
}
.illustration p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.illustration em {
    font-size: 0.6em;
}

/* index */
#index #content img {
    border-top: 1px solid #5b2e17;
    border-bottom: 1px solid #5b2e17;
}
#index #content p {
    font-style: italic;
    text-align: center;
}

/* restaurant */
#resto #content .illustration {
    float: left;
}
#resto #content #summary {
    overflow: hidden;
}
#resto #content .menu {
    text-align: center;
}
#resto #content em.menuNotice {
    font-size: 1em;
    font-style: italic;
}
#resto #content .separator {
    font-size: 3em;
    color: #76bb1d;
    margin: auto -1em;
}
#resto #content .menuNotice {
    font-size: 1em;
    font-style: italic;
    margin: 0 auto 0.5em;
}

/* hotel */
#hotel #content .illustration {
    float: right;
}

#hotel #content li {
    list-style-position: inside;
    list-style-image: url(../images/bullet.png);
}

/* info */
#info #content .illustration {
    float: right;
}

